
@font-face {
    font-family: "Crackman Font";
    src: url(./assets/crackman.ttf) format("truetype");
}

@font-face {
    font-family: "Joystix";
    src: url(./assets/joystix.ttf) format("truetype");
}

@font-face {
    font-family: "cp7";
    src: url(./assets/computer_pixel-7.ttf) format("truetype");
}

body {
  background: #FFF7D2;
  text-align: center;
  margin: 0px;
}

h3{
  text-align: center;
}

a:link {
  color: #FFF7D2;
  text-decoration: none;
}

li:hover,a:hover {
  cursor: pointer;
  color: #FFF7D2;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
  color: #FFF7D2;
}

button:active {
  border: none;
}

.element {
  display: inline-block;
  width: 4.5%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  background-color: blue;
}
.elemental {
  display: inline-block;
  width: 4.5%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  background-color: black;
}
.dot {
  display: inline-block;
  max-width:100%;
  max-height:100%;
  width: 4.5%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  background-image: url('assets/dot.png');
  background-size: contain;
  background-color: blue;
  background-repeat: no-repeat;
  background-position: center;

}
.pacman {
  display: inline-block;
  max-width:100%;
  max-height:100%;
  width: 4.5%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  background-image: url('/assets/pacman.png');
  background-size: contain;
  background-color: blue;
  background-repeat: no-repeat;
  background-position: center;

}
.ghost {
  display: inline-block;
  max-width:100%;
  max-height:100%;
  width: 4.5%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  background-image: url('/assets/ghost1.png');
  background-size: contain;
  background-color: blue;
  background-repeat: no-repeat;
  background-position: center;

}
.up {
  display: inline-block;
  max-width:100%;
  max-height:100%;
  width: 4.5%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  background-image: url('/assets/up2.png');
  background-size: contain;
  background-color: blue;
  background-repeat: no-repeat;
  background-position: center;

}
.down {
  display: inline-block;
  max-width:100%;
  max-height:100%;
  width: 4.5%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  background-image: url('/assets/down.png');
  background-size: contain;
  background-color: blue;
  background-repeat: no-repeat;
  background-position: center;

}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: black; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.4); 
}
.side-bar {
  display: inline-block;
  float: right;
  height: 80%;
  width: 20%;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0);
  color: white;
}

.default1 {
  display: inline-block;
  width: 90%;
  height: 50%;
  background-color: blue;
  border: 15px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.tablerow {
  display: inline-block;
  width: 100%;
  height: 6.25%;
  background-color: blue;
}

.block1 {
  display: inline-block;
  width: 5.2%;
  height: 100%;
  background-color: blue;

}

.block2 {
  display: inline-block;
  width: 5.2%;
  height: 100%;
  background-color: black;
}

.block3 {
  display: inline-block;
  width: 5.2%;
  height: 100%;
  background-image: url('assets/dot.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}

.block4 {
  display: inline-block;
  width: 5.2%;
  height: 100%;
  background-image: url('assets/pacman.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}
.block5 {
  display: inline-block;
  width: 5.2%;
  height: 100%;
  background-image: url('assets/ghost1.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
} 
.block6 {
  display: inline-block;
  width: 5.2%;
  height: 100%;
  background-image: url('assets/up2.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}
.block7 {
  display: inline-block;
  width: 5.2%;
  height: 100%;
  background-image: url('assets/down.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}
.maze-editor {
  width: 100%;
  height: 100%;
  background: rgba(39, 26, 124, 0.9);
  background-size: cover;
  color: white;
}

.maze-editor-table {
  float: left;
  width: 100%;
  height: 83%;
  margin-top: 120px;
  display: inline-block;

}
.maze-editor-table-div {
  height: 100%;
  width: 65%;
  background: url(assets/gba.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  align-items: stretch;
  float: left;

}

.maze-editor-row {
  width: 100%;
  height: 5.2%;
  display: inline-block;
  margin-bottom: 5px;
}
.gamepad {
  width: 20%;
  height: 20%;
  float: right;
  background-color: rgba(0,0,0,0);
}
.button1 {
  display: inline-block;
  border: none;
  background: url('assets/yellow1.png');
  background-repeat: no-repeat;
  background-size: 120% 120%;
  background-position: 70% 60%;
  width: 40%;
  height: 73%;
  margin-left: 10%;
  margin-top: 10%;
  float: left;
  border-radius: 50%;
}
.button1:hover {
  display: inline-block;
  background: url('assets/yellow2.png');
  background-repeat: no-repeat;
  background-size: 130% 130%;
  background-position: 60% 50%;
  margin-left: 10%;
  margin-top: 10%;
  float: left;
  border-radius: 50%;
}
.button2 {
  display: inline-block;
  border: none;
  background: url('assets/blue1.png');
  background-repeat: no-repeat;
  background-size: 130% 130%;
  background-position: 40% 50%;
  width: 40%;
  height: 73%;
  margin-left: 10%;
  margin-top: 10%;
  float: left;
  border-radius: 50%;
}
.button2:hover {
  display: inline-block;
  background: url('assets/blue2.png');
  background-repeat: no-repeat;
  background-size: 130% 130%;
  background-position: 50% 50%;
  margin-left: 10%;
  margin-top: 10%;
  float: left;
  border-radius: 50%;
}

.legend-div {
  display: inline-block;
  clear: both;
  float: left;
  background-color: rgba(0,0,0,0);
  height: 100%;
  width: 15%;
}

.legend {
  height: 50%;
  width: 100%;
}

.legend-table-head {
  display: inline-block;
  height: 10%;
  width: 100%
}
.legend-table-head-row {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.legend-table-header {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
}
.legend-container {
  display: inline-block;
  float: left;
  height: 100%;
  width: 49%;
}
.legend-table-body {
  display: inline-block;
  height: 90%;
  width: 100%;
}

.legend-table {
  display: inline-block;
  float: left;
  width: 100%;
  height: 40%;
  background-color: purple;
}

.legend-table-row {
  display: inline-block;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 100%;
  height: 15%;
  margin-bottom: 5px;
}

.legend-block1 {
  display: inline-block;
  border-radius: 5px;
  float: left;
  width: 20%;
  height: 100%;
  background-color: blue;
}

.legend-block2 {
  display: inline-block;
  float: left;
  border-radius: 5px;
  width: 20%;
  height: 100%;
  background-color: black;
}
.legend-block3 {
  display: inline-block;
  float: left;
  border-radius: 5px;
  width: 20%;
  height: 100%;
  background-image: url('assets/dot.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}
.legend-block4 {
  display: inline-block;
  float: left;
  border-radius: 5px;
  width: 20%;
  height: 100%;
  background-image: url('assets/pacman.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}

.legend-block5 {
  display: inline-block;
  float: left;
  border-radius: 5px;
  width: 20%;
  height: 100%;
  background-image: url('assets/ghost1.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}

.legend-block6 {
  display: inline-block;
  float: left;
  border-radius: 5px;
  width: 20%;
  height: 100%;
  background-image: url('assets/up2.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}
.legend-block7 {
  display: inline-block;
  float: left;
  border-radius: 5px;
  width: 20%;
  height: 100%;
  background-image: url('assets/down.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}
.legend-empty {
  display: inline-block;
  float: left;
  text-align: left;
  margin-top: 4%;
  width: 50%;
  height: 100%;
  padding: 2px;
}
.maze {
  width: 100%;
  height: 100%;
  background-image: url('assets/pac1.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: black;
    font-family: 'Quicksand';
    margin: auto;
    padding: 0;
    border: 1px solid #FFF7D2;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 35px;
    max-width: 30%;
    color: #FFF7D2;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #FFF7D2;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transform: translateY(-90%);
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #FEDC3D;
    color: white;
    border-radius: 30px 30px 0 0;
    min-height: 50px;
}

.modal-header-flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /*vertical-align: middle;*/
}

.modal-header-flexbox>button {
  background: none;
  border: none;
  font-family: 'Joystix';
  font-size: 20px;
  transform: translateY(50%);
}

#modal-loginform {
  display: none;
  text-align: right;
}

#modal-loginform {
  display:none;
<<<<<<< HEAD
  text-align: right;
  /*padding-right: 50%;*/
  min-height: 140px;
}

#modal-loginform label {
  text-align: left;
  width: 30%;
}

#modal-loginform input {
  float: right;
  margin-right: 20%;
  margin-left: 10px;
}

#modal-loginform #submitInput {
  background-color: #01ABAA;
  /*background-color: black;*/
  border-radius: 10px;
  border: none;
  font-family: 'PT Mono';
  font-size: 16px;
  /*color: #FEDC3D;*/
  color: #FFF7D2;
  min-width: 100px;
}


#modal-signupform label {
  /*text-align: left;*/
  width: 30%;
}

#modal-signupform input {
  float: right;
  margin-right: 20%;
  margin-left: 10px;
}

#modal-signupform #submitInput {
  background-color: #01ABAA;
  /*background-color: black;*/
  border-radius: 10px;
  border: none;
  font-family: 'PT Mono';
  font-size: 16px;
  /*color: #FEDC3D;*/
  color: #FFF7D2;
  min-width: 100px;
}

#modal-signupform>p {
  text-align: center;
  /*margin-left: 10px;*/
}

/*styling for the maze store*/

@font-face {
    font-family: 'pacfont_front';
    src: url('assets/crackman_front.ttf');
}

@font-face {
    font-family: 'pacfont_back';
    src: url('assets/crackman_back.ttf');
}

@font-face {
    font-family: 'icons';
    src: url('assets/icons.woff');
}
/*
html {
  font-family : sans-serif;
  text-align : center;
  height: 100%;
  width: 100%;
<<<<<<< HEAD
}
*/
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.title-container {
    position: fixed;
    background-color: blue;
    width: 100%;
    z-index: 10;
    box-shadow: 5px 5px 5px #00004C;

}

.title-parent{
    position: relative;
    top: 5px;
    left: 5px;
    max-width: 1190px;
}

.title {
    font: 5em 'pacfont_back';
    color: red;
    margin-left: .5em;
    text-shadow: 2px 2px 2px #00004C;
}

.title::before {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    margin-left: .5em;
    font-family: 'pacfont_front';
    color: yellow;
}

.maps-sub-container {
    display: block;
    margin-top: 120px;
}

.maps-container{
    display: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 203px;
}


.maps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    /*flex-direction: row;
    align-items: flex-start;

    justify-content: space-around; 
    flex-wrap: wrap;
    align-items: stretch;
    /*flex-direction: row;
    align-items: flex-start; 

    align-content: space-between;
    background-color: red;
    background: #fff;
    border-radius: .5em;
    margin: 10vmin;
    padding: 1vmin;
    height: 50vh;*/
}

.singleMap-container {
  justify-content: space-between;
  position: relative;
  align-items: stretch;
  margin-bottom: 40px;

}

.singleMap {
  justify-content: space-between;
  display: flex;
  align-items: stretch;
  background-color: /*#FFCC00*/ #EB5200;
  box-shadow: 10px 10px 5px #00004C;
}

tbody {
    diplay: flex;
    margin: 15px;
    align-items: stretch:;
    flex-grow: 1
}

.tablerow-mapstore {
  display: flex;
  background-color: blue;
  align-items: stretch;
}

.blank {
  flex-grow: 1;
  background-color: blue;
  align-items: stretch;
  width: 2.2vmin;
  height: 2.2vmin;

}

.wall {
  flex-grow: 1;
  background-color: black;
  align-items: stretch;
  width: 2.2vmin;
  height: 2.2vmin;
}

.pellet {
  flex-grow: 1;
  background-image: url('assets/dot.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  width: 2.2vmin;
  height: 2.2vmin;
}

.pacmanmaze {
  flex-grow: 1;
  background-image: url('assets/pacman.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  width: 2.2vmin;
  height: 2.2vmin;
}

.insertcoin, .onecredit, .public, .private{
  position: absolute;
  display: inline-block;
  background-image: url('assets/insertcoin.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  width: 5em;
  height: 5em;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.4);
  margin-top: 3px;
  margin-left: 3px;
  bottom: 3px;
  right: 3px;
  border-radius: 8px

}

.onecredit {
  background-image: url('assets/goldcoin.png');
}

.public {
  background-image: url('assets/public.png');
}

.private {
  background-image: url('assets/private.png');
}

.hamburger {
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    margin-top: 10px;
    margin-left: 10px;
    text-shadow: 2px 2px 2px #00004C;
}

.sidebar-title {
  font-family: "Joystix";
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5em;
  color: yellow;
  text-shadow: 2px 2px #ff0000;
  padding-bottom: .6em



}

.sidebar-options {
  font-family: 'cp7';
  font-size: 2em;
  text-align: left;
  padding: 0em 1em .4em .5em;
  text-shadow: 2px 2px #ff0000;
  letter-spacing: 1px;
  font-weight: bold;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  transition: background 0.3s, box-shadow 0.3s;
  color: #f3efe0;

}

.sidebar-options:hover {
  opacity: 0.5; 
  color: DodgerBlue;
}

[data-icon]:before {
  font-family: icons; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  vertical-align: bottom;
  margin-right: 0.8em;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}

/*end styling for maze store*/


#signupForm div {
  margin: 4px;
}

#loginForm div {
  margin: 4px;
}

#topnav {
  height: 70px;
  background-color: black;
  color: #FEDC3D;
  font-family: 'cp7';
  font-size: 30px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
}

#topnav>li {

}

#topleft {
  font-family: "Crackman Font";
  font-size: 35px;
}

#nav-login {
  color: #FEDC3D;
  background-color: black;
  font-family: 'cp7';
  /*font-family: 'Joystix';*/
  /*font-family: 'PT Mono', sans-serif;*/
  font-size: 30px;
  border: none;
  position: fixed;
  top: 2.5%;
  right: 13%;
}

#nav-login:hover {
  color: #FFF7D2;
}

#nav-signup {
  color: #FEDC3D;
  background-color: black;
  font-family: 'cp7';
  /*font-family: 'Joystix';*/
  /*font-family: 'PT Mono', sans-serif;*/
  font-size: 30px;
  border: none;
  position: fixed;
  top: 2.5%;
  right: 4%;
}

#nav-signup:hover {
  color: #FFF7D2;
}

#profileStats {
  border: 4px solid #01ABAA;
  background-color: black;
  color: #FFF7D2;
  font-family: 'joystix', sans-serif;
  font-size: 16px;
  position: fixed;
  top: 0%;
  right: 0%;
  text-align: right;
  padding: 20px 30px 10px 30px;
  border-radius: 25px;
  min-width: 15%;
  max-width: 20%;
  min-height: 13%;
}

#profileStats>button:hover {
  color: #FFF7D2;
}

#profileStats>p {
  margin: 0;
}

#profileStats>#welcomeMessage {
  text-align: left;
  margin-bottom: 10px;
}

#logout {
  color: #FEDC3D;
  /*background-color: #01ABAA;*/
  background-color: black;
  border-radius: 15px;
  font-family: 'cp7';
  font-size: 30px;
  border: none;
  /*position: fixed;*/
  right: 2%;
  top: 13.5%;
}

.profilePageContent {
  font-family: 'Quicksand';
  font-size: 16px;
  color: #FFF7D2;
}

.playScreen {
  padding: 25px;
  display: inline-block;
  border-radius: 45px;
  background-color: rgba(0,0,0,1);
  text-align: center;
  padding: 25px 50px 25px 50px;
  margin: 15px;
  max-width: 55%;
}

.playScreen button {
  background-color: #01ABAA;
  border-radius: 20px;
  border: none;
  font-family: 'PT Mono';
  font-size: 24px;
  color: #FFF7D2;
  width: 220px;
  height: 40px;
  margin: 4px;
}

.myMazesScreen {
  padding: 25px;
  display: inline-block;
  border-radius: 45px;
  background-color: rgba(0,0,0,1);
  text-align: center;
  padding: 25px 50px 25px 50px;
  margin: 15px 30px;
  max-width: 55%;
}

.landingPageContent, .aboutPageContent{
  display: inline-block;
  border-radius: 45px;
  background-color: rgba(0,0,0,1);
  text-align: center;
  padding: 10px 50px;
  margin: 15px;
  color: #FFF7D2;
  font-size: 16px;
  font-family: 'Quicksand';
  max-width: 55%;
}

.playBtnContent {
  text-align: center;
  display: inline-block;
  padding: 25px;
  border-radius: 30px;
}


#demobutton {
  background-color: #01ABAA;
  border-radius: 20px;
  border: none;
  font-family: 'PT Mono';
  font-size: 16px;
  color: #FFF7D2;
  width: 70%;
}

#demobutton>.playText {
  font-size: 50px;
}

.headers {
  color: #FEDC3D;
  font-family: 'joystix';
}

#ghostBackgroundPic {
  position: fixed;
  bottom: 4%;
  right: 4%;
  z-index: -1;
}

#pacmanBackgroundPic {
  position: fixed;
  bottom: 4%;
  left: 4%;
  z-index: -1;
}

.legalnotice {
  font-size: 10px;
}

#formheader {
  font-family: "Crackman Font";
  color: #FEDC3D;
  font-size: 32px;
  margin: 10px;
  text-align: left;
}

.modal-content.custom {
  max-width: 70%;
  padding-bottom: 35px;
}

#playtext {
  font-family: "Crackman Font";
  color: #FEDC3D;
  font-size: 48px;
  margin: 0 0 15px 0;
}

}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}


.camera-toggle {
  position: absolute;
  z-index: 10;
  height: 10%;
  width: 10%;
  padding: 5px;
  color: white;
  background-color: rgba(15, 62, 137, 0.5);
}

#renderCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#app {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#multiplayerSelected {
  display: none;
  justify-content: center;
}

#multiplayerSelected>span {
  margin: 10px 10px 0px 10px;
}

#customGametext,#howToPlaytext {
  color: black;
  font-family: 'Joystix';
  font-size: 25px;
}

#customGameModalClose {
  transform: translateY(-160%);
  margin-right: 14px;
}

.customGameModalHeader,.howToPlayModalHeader {
    padding: 2px 16px;
    background-color: #FEDC3D;
    color: white;
    border-radius: 30px 30px 0 0;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customGameHeaders {
  font-family: 'PT Mono', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.customGameModeFlexContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.customGameModeFlexContainer button {
  background-color: #01ABAA;
  border-radius: 20px;
  border: none;
  font-family: 'PT Mono';
  font-size: 24px;
  color: #FFF7D2;
  width: 220px;
  height: 40px;
  margin: 5px 20px 20px 20px;
}

.howToPlayModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content.htp {
  max-width: 70%;
}

.modal-content.htp>p {
  margin: 20px 45px;
}

.creatorsFlexBox {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.creatorsFlexBox>div {
  display: inline;
  width: 20%;
  text-align: center;
  margin: 30px;
}

#creatorPics {
  width: 90%;
  border-radius: 20px;
  /*margin: 0px;*/
}

.aboutPageContent {
  max-width: 70%;
  /*padding: 100px;*/
}

#linkedInIcon {
  height: 25px;
  margin: 1.5px;
}

#gitIcon {
  height: 25px;
  transform: scale(0.8);
  margin: 1.5px;
}
