@font-face {
    font-family: "Crackman Font";
    src: url(./assets/crackman.ttf) format("truetype");
}

@font-face {
    font-family: "Joystix";
    src: url(./assets/joystix.ttf) format("truetype");
}

@font-face {
    font-family: "cp7";
    src: url(./assets/computer_pixel-7.ttf) format("truetype");
}

body {
  background: #FFF7D2;
  /*background-color: #01ABAA;*/
  /*background-color: black;*/
  text-align: center;
}

h3{
  text-align: center;
}

li:hover {
  cursor: pointer;
  color: #FFF7D2;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
  color: #FFF7D2;
}

button:active {
  border: none;
}

.element {
  display: inline-block;
  width: 4.5%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  background-color: blue;
}
.elemental {
  display: inline-block;
  width: 4.5%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  background-color: black;
}
.dot {
  display: inline-block;
  max-width:100%;
  max-height:100%;
  width: 4.5%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  background-image: url('assets/dot.png');
  background-size: contain;
  background-color: blue;
  background-repeat: no-repeat;
  background-position: center;

}
.pacman {
  display: inline-block;
  max-width:100%;
  max-height:100%;
  width: 4.5%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  background-image: url('/assets/pacman.png');
  background-size: contain;
  background-color: blue;
  background-repeat: no-repeat;
  background-position: center;

}
.side-bar {
  display: inline-block;
  float: right;
  height: 60%;
  width: 40%;
  background-color: blue;
  background: linear-gradient(to bottom right, rgba(56, 132, 255, 0.5), rgba(13, 49, 147, 0.2));
  color: white;
}
.default1 {
  display: inline-block;
  width: 100%;
  height: 25%;
  background-color: blue;
}
.tablerow {
  display: inline-block;
  width: 100%;
  height: 25%;
  background-color: blue;

}

.block1 {
  display: inline-block;
  width: 5.2%;
  height: 100%;
  background-color: blue;

}
.block2 {
  display: inline-block;
  width: 5.2%;
  height: 100%;
  background-color: black;

}
.block3 {
  display: inline-block;
  width: 5.2%;
  height: 100%;
  background-image: url('assets/dot.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}
.block4 {
  display: inline-block;
  width: 5.2%;
  height: 100%;
  background-image: url('assets/pacman.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}
.maze-editor {
  height: 100%;
  width: 100%;
}
.maze-editor-table {
  width: 50%;
  height: 70%;
  display: inline-block;
  float: left;
  background-color: green;
}

.maze-editor-row {
  width: 100%;
  height: 5.2%;
  display: inline-block;
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  float: left;
  clear: both;
}
.legend {
  display: inline-block;
  float: center;
  background-color: yellow;
  height: 70%;
  width: 10%;
}

.legend-table {
  display: inline-block;
  float: left;
  width: 100%;
  height: 40%;
  background-color: purple;
}
.legend-table-row {
  display: inline-block;
  width: 100%;
  height: 20%;
  margin-bottom: 5px;
}
.legend-block1 {
  display: inline-block;
  border-radius: 5px;
  width: 20%;
  height: 100%;
  background-color: blue;
}
.legend-block2 {
  display: inline-block;
  border-radius: 5px;
  width: 20%;
  height: 100%;
  background-color: black;
}
.legend-empty {
  display: inline-block;
  width: 55%;
  height: 100%;
  padding: 2px;
  text-align: center;
}
.legend-block {
  display: inline-block;
  width: 55%;
  height: 100%;
  padding: 2px;
  text-align: center;
}
.legend-pellet {
  display: inline-block;
  width: 55%;
  height: 100%;
  padding: 2px;
  text-align: center;
}
.legend-block3 {
  display: inline-block;
  width: 20%;
  height: 100%;
  border-radius: 5px;
  background-image: url('assets/dot.png');
  background-size: cover;
  background-repeat: none;
  background-color: blue;
  background-position: center;
}

.maze {
  width: 100%;
  height: 100%;
  background-image: url('assets/pac4.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: black;
    font-family: 'Quicksand';
    margin: auto;
    padding: 0;
    border: 1px solid #FFF7D2;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 35px;
    max-width: 30%;
    color: #FFF7D2;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #FFF7D2;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transform: translateY(-90%);
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #FEDC3D;
    color: white;
    border-radius: 30px 30px 0 0;
    min-height: 50px;
    /*vertical-align: middle;*/
}

.modal-header-flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /*vertical-align: middle;*/
}

.modal-header-flexbox>button {
  background: none;
  border: none;
  font-family: 'Joystix';
  font-size: 20px;
  transform: translateY(50%);
}

#modal-loginform {
  display: none;
  text-align: right;
}

#modal-loginform {
  display:none;
  text-align: right;
  /*padding-right: 50%;*/
  min-height: 140px;
}

#modal-loginform label {
  text-align: left;
  width: 30%;
}

#modal-loginform input {
  float: right;
  margin-right: 20%;
  margin-left: 10px;
}

#modal-loginform #submitInput {
  background-color: #01ABAA;
  /*background-color: black;*/
  border-radius: 10px;
  border: none;
  font-family: 'PT Mono';
  font-size: 16px;
  /*color: #FEDC3D;*/
  color: #FFF7D2;
  min-width: 100px;
}


#modal-signupform label {
  /*text-align: left;*/
  width: 30%;
}

#modal-signupform input {
  float: right;
  margin-right: 20%;
  margin-left: 10px;
}

#modal-signupform #submitInput {
  background-color: #01ABAA;
  /*background-color: black;*/
  border-radius: 10px;
  border: none;
  font-family: 'PT Mono';
  font-size: 16px;
  /*color: #FEDC3D;*/
  color: #FFF7D2;
  min-width: 100px;
}

#modal-signupform>p {
  text-align: center;
  /*margin-left: 10px;*/
}

<<<<<<< HEAD
/*styling for the maze store*/

@font-face {
    font-family: 'pacfont_front';
    src: url('assets/crackman_front.ttf');
}

@font-face {
    font-family: 'pacfont_back';
    src: url('assets/crackman_back.ttf');
}

@font-face {
    font-family: 'icons';
    src: url('assets/icons.woff');
}

html {
  font-family : sans-serif;

  text-align : center;

  height: 100%;
  width: 100%;

}


html {
     background-repeat: repeat;
    /* background-image: ;*/
    /*background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 14, 177, .75)), url('background.jpg'));*/
    background:     linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(10, 15, 68, .85)
    ), url('assets/background.jpg');
}

.title-container {
    position: fixed;
    background-color: blue;
    width: 100%;
    z-index: 10;
    box-shadow: 5px 5px 5px #00004C;

}

.title-parent{
    position: relative;
    top: 5px;
    left: 5px;
    max-width: 1190px;
}

.title {
    font: 5em 'pacfont_back';
    color: red;
    margin-left: .5em;
    text-shadow: 2px 2px 2px #00004C;
}

.title::before {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    margin-left: .5em;
    font-family: 'pacfont_front';
    color: yellow;
}

.maps-sub-container {
    display: block;
    margin-top: 120px;



}

.maps-container{
    display: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 203px;

}


.maps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    /*flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    background-color: red;
    background: #fff;
    border-radius: .5em;
    margin: 10vmin;
    padding: 1vmin;
    height: 50vh;*/
}

.singleMap-container {
  justify-content: space-between;
  position: relative;
  align-items: stretch;
  margin-bottom: 40px;

}

.singleMap {
  justify-content: space-between;
  display: flex;
  align-items: stretch;
  background-color: /*#FFCC00*/ #EB5200;

  box-shadow: 10px 10px 5px #00004C;



}

tbody {
    diplay: flex;
    margin: 15px;
    align-items: stretch:;
    flex-grow: 1
}

.tablerow-mapstore {
  display: flex;
  background-color: blue;
  align-items: stretch;
}


.blank {

  flex-grow: 1;
  background-color: blue;
  align-items: stretch;
  width: 2.2vmin;
  height: 2.2vmin;

}
.wall {

  flex-grow: 1;
  background-color: black;
  align-items: stretch;
  width: 2.2vmin;
  height: 2.2vmin;

}
.pellet {

  flex-grow: 1;
  background-image: url('assets/dot.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  width: 2.2vmin;
  height: 2.2vmin;
}
.pacmanmaze {

  flex-grow: 1;
  background-image: url('assets/pacman.png');
  background-size: contain;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  width: 2.2vmin;
  height: 2.2vmin;
}

.insertcoin {

  position: absolute;
  display: inline-block;
  background-image: url('assets/insertcoin.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  width:100px;
  height: 100px;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.4);
  margin-top: 3px;
  margin-left: 3px;
  left: 0;
  top: 0;

}
.onecredit {

  position: absolute;
  display: inline-block;
  background-image: url('assets/onecredit.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  width:150px;
  height: 80px;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.4);
  margin-top: 3px;
  margin-left: 3px;
  left: 0;
  top: 0;

}

.hamburger {
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    margin-top: 10px;
    margin-left: 10px;
    text-shadow: 2px 2px 2px #00004C;
}

[data-icon]:before {
  font-family: icons; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}

/*end styling for maze store*/


#signupForm div {
  margin: 4px;
}

#loginForm div {
  margin: 4px;
}

#topnav {
  height: 70px;
  background-color: black;
  color: #FEDC3D;
  font-family: 'cp7';
  /*font-family: 'Joystix';*/
  /*font-family: 'PT Mono', sans-serif;*/
  font-size: 30px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
}

#topnav>li {

}

#topleft {
  font-family: "Crackman Font";
  font-size: 35px;
}

#nav-login {
  color: #FEDC3D;
  background-color: black;
  font-family: 'cp7';
  /*font-family: 'Joystix';*/
  /*font-family: 'PT Mono', sans-serif;*/
  font-size: 30px;
  border: none;
  position: fixed;
  top: 2.5%;
  right: 13%;
}

#nav-login:hover {
  color: #FFF7D2;
}

#nav-signup {
  color: #FEDC3D;
  background-color: black;
  font-family: 'cp7';
  /*font-family: 'Joystix';*/
  /*font-family: 'PT Mono', sans-serif;*/
  font-size: 30px;
  border: none;
  position: fixed;
  top: 2.5%;
  right: 4%;
}

#nav-signup:hover {
  color: #FFF7D2;
}

#profileStats {
  color: #FEDC3D;
  background-color: black;
  font-family: 'PT Mono', sans-serif;
  font-size: 16px;
  border: none;
  position: fixed;
  top: 3.5%;
  right: 4%;
}

#logout {
  color: #FEDC3D;
  background-color: black;
  /*font-family: 'PT Mono', sans-serif;*/
  font-size: 20px;
  border: none;
  position: fixed;
  top: 10%;
  right: 0;
}

.landingPageContent {
  display: inline-block;
  border-radius: 45px;
  background-color: rgba(0,0,0,1);
  /*background-color: #FEDC3D;*/
  text-align: center;
  padding: 10px 50px;
  margin: 15px;
  color: #FFF7D2;
  font-size: 16px;
  font-family: 'Quicksand';
  max-width: 55%;
}

.playBtnContent {
  text-align: center;
  display: inline-block;
  /*background-color: black;*/
  padding: 25px;
  border-radius: 30px;
}


#demobutton {
  background-color: #01ABAA;
  /*background-color: black;*/
  border-radius: 20px;
  border: none;
  font-family: 'PT Mono';
  font-size: 16px;
  /*color: #FEDC3D;*/
  color: #FFF7D2;
  width: 70%;
}

#demobutton>.playText {
  font-size: 50px;
}

.headers {
  color: #FEDC3D;
  font-family: 'joystix';
}

#ghostBackgroundPic {
  position: fixed;
  bottom: 4%;
  right: 4%;
  z-index: -1;
}

#pacmanBackgroundPic {
  position: fixed;
  bottom: 4%;
  left: 4%;
  z-index: -1;
}

a:link {
  color: #FFF7D2;
  text-decoration: none;
}

.legalnotice {
  font-size: 10px;
}

#formheader {
  font-family: "Crackman Font";
  color: #FEDC3D;
  font-size: 32px;
  margin: 10px;
  text-align: left;

}
